body {
    background-color: #343A40; 
}
.texto_lol {
    font-family: 'Yatra One', cursive;
    color: #d7b643 !important;
    background-color: #343A40; 
}

.tarjeta {
    margin: 3%
}

.logo {
    width: 25%;
  }
.menu {
    font-family: 'Yatra One', cursive;
    font-size: 20px;
    color: #d7b643 !important;
}
.menu:hover {
    font-family: 'Yatra One', cursive;
    font-size: 20px;
    color: #EEDA8F !important;
    background-color: #343A40 !important;

}





